{% extends 'base.html.twig' %}

{% block title %}Accuiel{% endblock %}

{% block body %}

     <section>
         <div class="container">  
             {% for item in heros %}
             
              <div class="row d-flex justify-content-around">

                 <div class="col mt-4 py-5">
                      <div>
                          <h3 class="titre_heros">{{ item.titre }} </h3>
                      </div>
                      <br>
                      <div class="mt-4">
                          <h3 class="sous_heros text-muted">{{ item.soustitre }}</h3>
                      </div>
                      <br><br>
                      <div class="mt-5 ">
                        <a href class="btn bg-dark text-white p-3">Explorer</a>
                    </div>
                    
                      
                 </div>
                 <div class="col">
                    
                    <img src="/heros/{{ item.image }}" class="img-fluid img-heros" alt="image" > 
                </div>

              </div>
             {% endfor %}
         </div>
     </section>
   
{% endblock %}
